.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
biblio
SDPtalk
.gitignore
manuscript/feedback
manuscript/out
manuscript/output/figures
manuscript/*.key
manuscript/bellman1.png
manuscript/bellman2.png
manuscript/bellman-fig.png
.gitignore
